<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineJKH.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-primary p-0" role="navigation">
            <div class="container" style="flex-direction: column-reverse;">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active" role="button" asp-controller="Home" asp-action="Index" style="font-weight:bold;">Онлайн-ЖКХ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" role="button" asp-controller="MeterReading" asp-action="Index">Показания счётчиков</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" role="button" asp-controller="Receipt" asp-action="Index">Квитанции</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-offset="80,90" aria-expanded="false">
                                Администрирование
                            </a>
                            <ul class="dropdown-menu w-100" role="menu" style="background-color:oldlace;">
                                <li><a class="dropdown-item" href="/PersonalAccount/Index">Лицевые счета</a></li>
                                <li><a class="dropdown-item" href="/User/Index">Пользователи</a></li>
                                <li><a class="dropdown-item" href="/Home/ExportExcel">Экспорт Excel</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" role="button" asp-controller="Account" asp-action="Logout">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineJKH - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    container-fluidw{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
</style>