html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
li:hover {
    background-color: #0269b6;
    transition: 0.5s;
}

nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}

a {
    font-size: 20px;
}
#photo{
    background-color: blue;
    color: white;
}
.rounded-3{
    border-radius: 2rem !important;
}
.mr{
    margin-right: 5rem !important;
}
.inputWidth {
    width: 215px;
    margin-bottom: -15px;
}
.inputTextArea{
    width:676px;
}
.input-validation-error {
    border: 1px solid #f00;
}