@model OnlineJKH.DAL.Entities.PersonalAccount
@{
    ViewData["Title"] = "Изменение";
}
@using (Html.BeginForm("Edit", "PersonalAccount", FormMethod.Post))
{
    @Html.LabelFor(m => m.Number)
    <br />
    @Html.TextBoxFor(m => m.Number)
    <br />
    @Html.ValidationMessageFor(m => m.Number)
    <br />
    <input type="submit" value="Изменить" />  <a asp-action="Index" asp-controller="PersonalAccount">Список</a>

}