@model IEnumerable<OnlineJKH.DAL.Entities.PersonalAccount>
@{
    ViewData["Title"] = "Список";
}
@using (Html.BeginForm())
{
    <a asp-action="Create" asp-controller="PersonalAccount">Добавить лицевой счёт</a>
    <table class="table">
        <tr><td>Лицевой счёт</td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Number</td>
                <td><a asp-action="Edit" asp-controller="PersonalAccount" asp-route-id="@item.Id">Изменить</a></td>
                <td><a asp-action="Delete" asp-controller="PersonalAccount" asp-route-id="@item.Id">Удалить</a></td>
            </tr>
        }
    </table>
}

